#container {
    align-self: center;
    padding: 0px 10px;
    position: relative;
    width: 90%;
    margin: 20px;
    box-sizing: border-box;
    /*             border: 2px rgb(83, 133, 145) solid; */
    box-shadow: 0px 5px 15px -6px rgba(0,0,0,0.75);
    border-radius: 20px;
    max-width: 575px;
    margin: 10px auto;
    background: rgba(5, 13, 25, 0.569);
}

h1 {
    font-weight: 900;
    width: 100;
    margin: 10px 0px;
    color: rgb(83, 133, 145);
    letter-spacing: 5px;
    font-size: 75px;
    text-align: center;
    transform: translateY(-35px);
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

.toph h1 {
    transform: translateY(20px);
    font-size: 25px;
    margin: 10px 25px;
    display: inline-block;
    font-weight: 700;
}

.number {
    color: #CDC5BD;
}

#moon {
    position: relative;
}

#earth {
    position: relative;
}

svg {
    max-width: 100%;
    max-height: 65vh;
    min-height: 200px;
    margin: 0px auto;
    align-self: center;
}

#details {
    display: flex;
    text-align: left;
    align-self: center;
    font-size: 0.9em;
}

    #details span {
        /*   display: block; */
        color: rgb(83, 133, 145);
        display: inline-block;
    }

        #details span:nth-child(odd) {
            width: 150px;
            border-left: 2px solid rgb(83, 133, 145);
            padding-left: 10px;
        }

        #details span:nth-child(even) {
            align-self: flex-end;
            color: #CDC5BD;
            text-align: right;
            width: 100px;
            border-right: 2px solid #CDC5BD;
            padding-right: 10px;
        }

li {
    list-style: none;
    margin: 25px auto;
    padding: 0px;
}

ul {
    margin: 0px auto;
    padding: 0px;
    padding-bottom: 25px;
}
